<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>710947816899-4fup9uksi2bpco8iaaurn3ku478u007b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.710947816899-4fup9uksi2bpco8iaaurn3ku478u007b</string>
	<key>API_KEY</key>
	<string>AIzaSyAR5i1pjefmtabBXwStAhVqD6WPJGzcN9g</string>
	<key>GCM_SENDER_ID</key>
	<string>710947816899</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nestorbird.nbPosx</string>
	<key>PROJECT_ID</key>
	<string>get-pos-49a30</string>
	<key>STORAGE_BUCKET</key>
	<string>get-pos-49a30.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:710947816899:ios:d2c4978cd5ea266f9c6976</string>
</dict>
</plist>